[submodule "nene"]
	path = nene
	url = https://github.com/Andre-LA/nene.git
	branch = main
[submodule "rotor-nelua"]
	path = rotor-nelua
	url = https://gitlab.com/Andre-LA/rotor-nelua.git
[submodule "irene"]
	path = irene
	url = https://github.com/Andre-LA/irene.git
